/* From Uiverse.io by SteveBloX */
.card-interest-all {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-interest {
    width: 100%;
    height: 15em;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    user-select: none;
    color: black;
    margin: 20px;
    padding: 20px;
}

.card-interest:hover {
    border: 3.5px solid blue;
    transform: scale(1.05);
}

.card-interest:active {
    transform: scale(0.95) rotateZ(1.7deg);
}




.skillcard-all {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}




/*Contenue a l'avant de la carte*/
.skillcard-test {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: white solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-test::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #f58d4d;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%; /* Occupe 20% de la hauteur */
    width: 100%;
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center;
}

.icon {
    flex: 60%; /* Occupe 80% de la hauteur */
    width: 100%;
    display: flex;
    align-items: center; /* Centre le texte verticalement */
    justify-content: center; /* Centre horizontalement */
}

.test-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'avant de la carte*/
.skillcard-test-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f58d4d;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-test-title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.skillcard-test-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}


.skillcard-test:hover .skillcard-test-content {
    transform: rotateX(0deg);
}

/* Cache l'icône et le texte lors du survol */
.skillcard-test:hover .test-icon,
.skillcard-test:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8); /* Réduit légèrement la taille pour un effet plus fluide */
    transition: all 0.1s ease-in-out; /* Effet de transition */
}

.c-txt:not(:hover),
.test-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}







.skillcard-html {
    width: 350px;
    height: 220px;
    background: white;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: grey solid 2px;
    border-radius: 40px;
    cursor: pointer;
    /*transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
    overflow: hidden;
}

.skillcard-html::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #f58d4d;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-html-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f58d4d;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-html-title {
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.skillcard-html-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: white;
    line-height: 1.4;
}

/*Animation*/
.skillcard-html:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-html:hover .skillcard-html-content {
    transform: rotateX(0deg);
}

.skillcard-html:hover .html-icon,
.skillcard-html:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.html-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}






.skillcard-css {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: gray solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-css::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #029be5;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-css-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #029be5;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-css-title {
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.skillcard-css-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: white;
    line-height: 1.4;
}

/*Animation*/
.skillcard-css:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-css:hover .skillcard-css-content {
    transform: rotateX(0deg);
}

.skillcard-css:hover .css-icon,
.skillcard-css:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.css-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}







.skillcard-js {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: gray solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-js::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #ffda3e;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.js-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-js-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffda3e;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-js-title {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.skillcard-js-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

/*Animation*/
.skillcard-js:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-js:hover .skillcard-js-content {
    transform: rotateX(0deg);
}

.skillcard-js:hover .js-icon,
.skillcard-js:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.js-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}







.skillcard-php {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: gray solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-php::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #6e81b6;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.php-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-php-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #6e81b6;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-php-title {
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.skillcard-php-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: white;
    line-height: 1.4;
}

/*Animation*/
.skillcard-php:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-php:hover .skillcard-php-content {
    transform: rotateX(0deg);
}

.skillcard-php:hover .php-icon,
.skillcard-php:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.php-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}







.skillcard-sql {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: gray solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-sql::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #bd77da;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sql-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-sql-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #bd77da;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-sql-title {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.skillcard-sql-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

/*Animation*/
.skillcard-sql:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-sql:hover .skillcard-sql-content {
    transform: rotateX(0deg);
}

.skillcard-sql:hover .sql-icon,
.skillcard-sql:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.sql-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}







.skillcard-symfony {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: grey solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-symfony::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: darkslategrey;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.symfony-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-symfony-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: darkslategrey;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-symfony-title {
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.skillcard-symfony-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: white;
    line-height: 1.4;
}

/*Animation*/
.skillcard-symfony:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-symfony:hover .skillcard-symfony-content {
    transform: rotateX(0deg);
}

.skillcard-symfony:hover .symfony-icon,
.skillcard-symfony:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.symfony-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}







.skillcard-csharp {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: grey solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-csharp::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #410ca1;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.csharp-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-csharp-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #410ca1;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-csharp-title {
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.skillcard-csharp-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: white;
    line-height: 1.4;
}

/*Animation*/
.skillcard-csharp:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-csharp:hover .skillcard-csharp-content {
    transform: rotateX(0deg);
}

.skillcard-csharp:hover .csharp-icon,
.skillcard-csharp:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.csharp-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}







.skillcard-python {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: grey solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-python::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: darkgreen;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.python-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-python-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: darkgreen;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-python-title {
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.skillcard-python-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: white;
    line-height: 1.4;
}

/*Animation*/
.skillcard-python:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-python:hover .skillcard-python-content {
    transform: rotateX(0deg);
}

.skillcard-python:hover .python-icon,
.skillcard-python:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.python-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}







.skillcard-go {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: grey solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-go::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: cornflowerblue;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-go-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: cornflowerblue;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-go-title {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.skillcard-go-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

/*Animation*/
.skillcard-go:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-go:hover .skillcard-go-content {
    transform: rotateX(0deg);
}

.skillcard-go:hover .go-icon,
.skillcard-go:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.go-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}





.skillcard-phpstorm {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: grey solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-phpstorm::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: cornflowerblue;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phpstorm-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-phpstorm-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: cornflowerblue;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-phpstorm-title {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.skillcard-phpstorm-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

/*Animation*/
.skillcard-phpstorm:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-phpstorm:hover .skillcard-phpstorm-content {
    transform: rotateX(0deg);
}

.skillcard-phpstorm:hover .phpstorm-icon,
.skillcard-phpstorm:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.phpstorm-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}





.skillcard-webstorm {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: grey solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-webstorm::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: cornflowerblue;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webstorm-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-webstorm-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: cornflowerblue;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-webstorm-title {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.skillcard-webstorm-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

/*Animation*/
.skillcard-webstorm:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-webstorm:hover .skillcard-webstorm-content {
    transform: rotateX(0deg);
}

.skillcard-webstorm:hover .webstorm-icon,
.skillcard-webstorm:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.webstorm-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}





.skillcard-rider {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: grey solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-rider::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: cornflowerblue;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rider-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-rider-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: cornflowerblue;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-rider-title {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.skillcard-rider-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

/*Animation*/
.skillcard-rider:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-rider:hover .skillcard-rider-content {
    transform: rotateX(0deg);
}

.skillcard-rider:hover .rider-icon,
.skillcard-rider:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.rider-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}






.skillcard-vscode {
    width: 350px;
    height: 220px;
    perspective: 1000px;
    background: white;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: gray solid 2px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.skillcard-vscode::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: cornflowerblue;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    border: solid 3px gray;
    transition: all 2s ease-in-out;
}

.c-txt {
    flex: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    flex: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vscode-icon {
    width: auto;
    height: 90px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Contenue a l'arrière de la carte*/
.skillcard-vscode-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: cornflowerblue;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillcard-vscode-title {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.skillcard-vscode-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

/*Animation*/
.skillcard-vscode:hover::before {
    transform: scale(7) translate(-20px);
}
.skillcard-vscode:hover .skillcard-vscode-content {
    transform: rotateX(0deg);
}

.skillcard-vscode:hover .vscode-icon,
.skillcard-vscode:hover .c-txt {
    opacity: 0;  /* Rendre invisible */
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}

.c-txt:not(:hover),
.vscode-icon:not(:hover) {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease-out;
}